/* Estilos Generales */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px; /* Ancho máximo para el contenido */
    margin: 0 auto; /* Centrar el contenido */
  }
  
  header {
    background: #000; /* Cambio del color de fondo del encabezado a negro */
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 15px 15px 15px 15px; /* Bordes redondeados */
    margin-top: 40px; /* Añade un margen superior al header */
  }
  
  header h1 {
    margin: 0; /* Elimina el margen predeterminado del título */
    font-weight: 400;
    color: #fff; /* Color del texto del encabezado en blanco */
    font-size: 32px;
  }
  
  main {
    padding: 0 20px;
    text-align: center;
  }
  
  section {
    margin-bottom: 40px;
    background-color: #f5f5dc; /* Fondo beige para los apartados */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Ancho máximo para la imagen */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    font-size: 16px;
    text-align: left;
  }
  
  a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  a:hover {
    background-color: #555;
  }
  